.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    padding: $s-size;
    font-size: $font-size-large;
    font-weight: 300;
}

// in sass-lang.com/guide we can see the documentation of the sass language.
// There is a way to inherit from one class to another, and make small changes
// using the @extend syntax
.select {
    @extend .text-input;

}

.text-area {
    @extend .text-input;
    height: 10rem;
}