.list-header {
    background: $off-white;
    border: 1px solid darken($off-white, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size
}

.list-item {
    border: 1px solid darken($off-white, 7%);
    border-top: none;
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;
    transition: background .3s ease;
    
    // Writing this is just like wiriting the .list-item:hover below, this is a shortcut.
    // It basically says - when your parent (list-item) is being hovered - what animation you want to do
    &:hover{
        background: $off-white;
    }
    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $m-size;
    }
}

.list-body {
    margin-bottom: $m-size;
    @media (min-width: $desktop-breakpoint) {
        margin-bottom: $l-size;
    }
}

.list-item--message {
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $m-size;

    // override the actual transition
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all; // handle wierd edge case where a user adding a really long item
}

.list-item__sub-title {
    color: $grey;
    font-size: $font-size-small;
}

.list-item__data {
    margin: $s-size 0 0 0; // mobile only

    @media (min-width: $desktop-breakpoint) {
        margin: 0;
        padding-left: $s-size;
    }
}